body {
    padding: 10px;
    font-family: sans-serif;
    margin-top: 20rem;
}

img {
    width: 15rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: center;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.welcome-button {
    width: 50%;
    height: 10rem;
}

.tree-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tree-detail {
    width: 35rem;
}