body {
    padding: 10px;
    font-family: sans-serif;
    margin-top: 18rem;
    background-color: #6A8820;
}

img {
    width: 15rem;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.mascot {
    width: 7rem;
    padding-left: 10px;
}

.landing-link {
    width: 50%;
}

.welcome-button {
    background-color: #D3C02F;
    border-color: black;
    font-size: 3rem;
    white-space: normal;
    width: 50%;
    height: 15rem;
    color: black;
}

.tree-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tree-detail {
    width: 35rem;
}
